.check_rh input {
    position: absolute;
    width: 0;
}
.check_rh:has(input:checked)::after {
    content: "+";
}
.check_rh::after {
    content: "-";
}
.check_rh {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 19px;
    border: gray 1px solid;
    background-color: #e9e9ed;
    border-radius: 4px;
    line-height: 17px;
}
